.auth-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
    justify-content: center;
    height: 100vh;
    margin: auto;
}

.webix_auth_multiview {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

@media (max-width: 768px) {
    .auth-container {
        width: 400px;
        margin: 0 auto; 
    }
}


.webix_login_form{
    background-color: #f8f9fa; 
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.webix_login_form.webix_view.webix_form {
    /* background-color: green; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
.webix_login_form .webix_inp_top_label{
    font-size: 18px;
    /* color: #333; */
    margin-bottom: 10px;
}

